<div class="scenario-item">
    <span class="scenarion-item-part">
        <input type="radio" name="scenario-selector" id=<%=scenario.scenario_id%> <%=checked%> onchange="selectScenarioPointerV2(this.id)">
    </span>

    <span class="scenarion-item-part">
        <label class="scenario-name" for=<%=scenario.scenario_id%>><%=scenario.scenario_name%></label>
    </span>

    <span class="scenarion-item-conditions">
        <label class="scenario-id" hidden></label>
        <!-- Temperature -->
        <span>
            <img src="/assets/icons/temp.png">
            <label>min : <%=scenario.interval_values[0].min%>°C | max : <%=scenario.interval_values[2].max%>°C</label>
        </span>
        
        <!-- Cloud Cover -->
        <span>
            <img src="/assets/icons/clouds.png">
            <label>min : <%=scenario.interval_values[2].min%>% | max : <%=scenario.interval_values[2].max%>%</label>
        </span>

        <!-- Rain -->
        <span>
            <img src="/assets/icons/rain.png">
            <label>min : <%=scenario.interval_values[3].min%>% | max : <%=scenario.interval_values[2].max%>%</label>
        </span>

        <!-- Wind -->
        <span>
            <img src="/assets/icons/wind.png">
            <label>min : <%=scenario.interval_values[1].min%>km/h | max : <%=scenario.interval_values[2].max%>km/h</label>
        </span>
    </span>

    <!-- Controls -->
    <span class="scenarion-item-part">
        <span class="delete-scenario scenario-controls">
            <img src="/assets/icons/delete.png" id=<%=scenario.scenario_id%> onclick="deleteScenario(id)"> 
        </span>
    </span>
</div>